.card{
    @apply mb-4 cursor-pointer rounded-lg overflow-hidden w-full flex;
    box-shadow: 2px 4px 20px rgb(34 90 89 / 20%);
    transition: box-shadow ease-in-out;
}

.card:hover{
    box-shadow: none;
}


.card_desc{
    padding: 50px;
    width: 70%;
}


.creator{
    background-color: white;
    color: #fe2c55;
    border: 1px solid #fe2c55;
}

.creator:hover{
    color: white;
    background-color: #fe2c55;
}

.news{
    background-color: white;
    color: #36d1cc;
    border: 1px solid #36d1cc;
}

.news:hover{
    color: white;
    background-color: #36d1cc;
}

.product{
    background-color: white;
    color: #8b62ff;
    border: 1px solid #8b62ff;
}

.product:hover{
    color: white;
    background-color: #8b62ff;
}

.business{
    background-color: white;
    color: #161823;
    border: 1px solid #161823;
}

.business:hover{
    color: white;
    background-color: #161823;
}

.imageContainer{
    width: 30%;
}

.heading{
    @apply font-bold mb-3 text-3xl;
}

@media screen and (max-width: 990px) {
    .card{
        @apply flex-col-reverse;
    }
    .imageContainer{
        @apply w-full;
        height: 230px;
    }
    .card_desc{
        padding: 28px 32px 32px 22px;
        @apply w-full;
    }
}