.cardContainer {
  box-sizing: border-box;
  max-width: 1150px;
  margin: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
}

.cardWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 10%), 0 1px 4px -1px rgb(0 0 0 / 10%);
}

.descWrapper {
  padding: 6px 10px;
  overflow: hidden;
}

.imageContainer {
  overflow: hidden;
}

.dateWrapper {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  display: inline-block;
  width: auto;
  vertical-align: middle;
  color: #b2b2b2;
  text-transform: uppercase;
}

.headingWrapper {
  margin-top: 7px;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0;
  width: 100%;
  color: #3c3c3c;
  font-weight: 600;
  white-space: normal;
}

.imageContainer > img {
  transform: scale(1);
  transition: transform ease-in-out 1s;
}

.imageContainer:hover > img {
  transform: scale(1.2);
}

@media screen and (max-width: 990px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 500px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
  .card {
    width: 100%;
    height: min-content;
  }
  .cardWrapper {
    @apply flex flex-row;
    height: 110px;
  }
  .descWrapper {
    width: 70%;
  }

  .imageContainer {
    width: 30%;
  }
}
