.videoWrapper {
  animation: shake 500ms;
}
.videoWrapper2 {
  animation: shake 500ms 500ms;
}
.videoWrapper3 {
  animation: shake 500ms 1000ms;
}
.videoWrapper4 {
  animation: shake 500ms 1500ms;
}

@keyframes shake {
  0% {
    transform: translateX(10px);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(10px);
  }
  75% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

.parentContainer {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 600px) {
  .parentContainer {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
