@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
}
/* body{
} */
.Video_sheet{
    /* scroll-snap-type: y mandatory; */
    height: 100vh;
  }
  .explore_carousel{
    scroll-snap-type: x mandatory;
  }
  .carousel_item{
    scroll-snap-align: start;
  }
  .video_card{
    /* scroll-snap-align: start; */
  }
  .profile-bg{
    align-items: center;
    background-image: url("https://sf16-scmcdn-va.ibytedtos.com/goofy/tiktok/web/node/_next/static/images/album-628a1f27c2ed684e4454d53f4c042f7a.svg");
  }


  .swiper-wrapper{
    max-height: 100vh;
  }
  
  .video-card{
    width: 31vw;
    height: 55.8vw;
    box-sizing: border-box;
  }
  .vdo_player{
    box-sizing: border-box;
    object-fit: cover!important;
    height: 100%;
  }
  input:focus-visible{
    outline: none;
  }
  
.bg_grad{
 /* background: linear-gradient(270deg, #D428B6 0%, #BE2ADE 24.59%, #8330C7 50.56%, #5C2ADE 74.51%, #2928D4 100%); */
  background-image: url("../../public/images/Background_home.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.no_bar::-webkit-scrollbar {
  display: none;
}