@tailwind base;
@tailwind components;
@tailwind utilities;
*{
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";   
    /* font-family: "Open Sans";    */
    /* font-weight: normal; */
    letter-spacing: normal;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
button:focus{
  outline: 0px;
}
html *::-webkit-scrollbar {
  border-radius: 0;
  width: 0px;
}
[onClick] {
  cursor:pointer;
}
p{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
h1{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
p{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
h1{
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
img{
  height: 100%;
  object-fit: cover;
  width:100%;
}
img{
  object-fit: cover;
  width:100%;
}
/* @media screen and (orientation: landscape) {
  .feed_screen {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vw;
  }
} */
/* body{
} */
.text-xxxs{
  font-size: 8px;
}
.text-xxs{
  font-size: 10px;
}
.video-card img, .trending_card img{
  height: 100%;
}
.hashtag{
    font-weight: 600;
    font-size: 12px;
    letter-spacing: .3px;
}
.Video_sheet{
    /* scroll-snap-type: y mandatory; */
    height: 100vh;
  }
  .explore_carousel{
    scroll-snap-type: x mandatory;
  }
  .carousel_item{
    scroll-snap-align: start;
  }
  .line-clamp-1{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .line-clamp-2{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .line-clamp-3{
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }
 .h-80{
   height: 80%;
 }

 .h-95{
  height: 95%;
}
  .profile-bg{
    align-items: center;
    background-image: url("https://sf16-scmcdn-va.ibytedtos.com/goofy/tiktok/web/node/_next/static/images/album-628a1f27c2ed684e4454d53f4c042f7a.svg");
  }


  .swiper-wrapper{
    max-height: 100vh;
  }
  
  .video-card{
    width: 31vw;
    height: 54vw;
    background-color: #ccc;
    box-sizing: border-box;
  }
  .vdo_player{
    box-sizing: border-box;
    object-fit: cover!important;
    height: 100%;
    width: 100%;
  }
  .vdo_player_desk{
    box-sizing: border-box;
    object-fit: cover!important; 
    height: 100%;
    width: 100%;
    object-position: 0 0;
    max-width: 300px;
  }
  .vdo_player_desk_detail{
    box-sizing: border-box;
    object-fit: cover!important; 
    height: 100%;
    width: 100%;
    object-position: 0 0;
    max-width: 400px;
  }
  input:focus-visible{
    outline: none;
  }
  
.bg_grad{
 /* background: linear-gradient(270deg, #D428B6 0%, #BE2ADE 24.59%, #8330C7 50.56%, #5C2ADE 74.51%, #2928D4 100%); */
  background-image: url("../../public/images/Background_home.jpg"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.no_bar::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.usricon{
  background-color: #fbbc05;
    color: white;
}

.thin_bar::-webkit-scrollbar {
  width: 3px;
}
 
.thin_bar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(160, 101, 101, 0.171);
}
 
.thin_bar::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* outline: 1px solid slategrey; */
}

.menu_bar:hover::-webkit-scrollbar {
	width: 2px;
  transition: color .3s ease;
}
.menu_bar::-webkit-scrollbar-track {
	background-color: rgb(255, 255, 255);
	-webkit-border-radius: 1px;
}
.menu_bar::-webkit-scrollbar-thumb {
	background-color: rgb(242 242 242);
	-webkit-border-radius: 4px;
}
.login_pop{
  min-width: 472px;
}

.header_landing{
    height: 112px;
}
/* .static_footer{
  height: 256px;
} */

.Circle_loader {
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  position: absolute;
}
.Circle_loader_search {
  padding: 7px;
  border: 2px solid rgba(204, 204, 204, 0);
  border-right-color: #888;
  border-bottom-color: #888;
  border-top-color: #888;
  border-radius: 22px;
}
.head-shadow{
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
}
.desk-feed:hover .opacity-0{
  opacity: 100%!important;
  transition: opacity 0.3s ease 0s;
}
.desk-share:hover .share-ls{
  display: flex;
}
.usrhvr:hover .usrdeck{
  display: flex;
}
.usrdeck{
  display: none;
  transition-delay: 2s;
}
.w-320{
  min-width:320px;
}
.bg-deskseekbar{
  background-color: rgba(255, 255, 255, 0.2);
}
@media (orientation: portrait) {
  .landscape_screen {
    display: none;
  }
}


/* static pages */

.tray-container p {
  margin-top: 0;
  margin-bottom: 1rem;

}
.tray-container h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
  .static_body {
	  margin: 0;
    font-family: "Work Sans", Arial, sans-serif;
    background: #fff;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #666666;
    /* background: #000;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #2b0025), color-stop(100%, #000));
    background: -webkit-linear-gradient(top, #2b0025, #000);
    background: -webkit-gradient(linear, left top, left bottom, from(#2b0025), to(#000));
    background: linear-gradient(
180deg
, #2b0025 0, #000); */
}
	.tray-container {
	    padding: 0 7.5% 24px;
	}
	.tnc-text{
		/* color: #fff; */
		overflow-y: auto;
	    height: 100%;
	    font-size: 14px;
	    padding: 0 20px;
      user-select: text!important; /* supported by Chrome and Opera */
  -webkit-user-select: text!important; /* Safari */
  -khtml-user-select: text!important; /* Konqueror HTML */
  -moz-user-select: text!important; /* Firefox */
  -ms-user-select: text!important; /* Internet Explorer/Edge */
	}

  .goatbg {
    background-image: linear-gradient(to right, #db2bbb ,#4f33f3);
  }


	@media only screen and (max-width: 1200px){
		.tray-container {
		    padding: 0 0 16px 16px;
		}
	}

  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
   -webkit-appearance:none;
}

.crousal-swiper {
  width: 100%;
  height: 100%;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
}

/* target all bullets */
span.swiper-pagination-bullet {
  background-color: rgb(139, 139, 139);
  opacity: 1;
}

@media only screen and (max-height: 670px){
  .drawer-height{
    height: 40%;
  }}
  @media only screen and (max-width: 768px) {
  .overlay-z-index {
    z-index: 9!important;
}
.w-70vr{
  width: 70vw;
}
.width-mob{
  width: 90%!important;
}
  }
@media only screen and (min-width: 768px) {
  *{
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";   
    /* font-weight: normal; */
    letter-spacing: unset;
}
.search-tab-mt{
  margin-top: 0!important;
}
.tnc-text{
  padding: 0 10%;
}
.video-card{
  width: 100%;
  height: 100%;
  background-color: #ccc;
  box-sizing: border-box;
}
  .cookie_layout{
    align-items: unset;
  }
  .cookie_wrapper{
    margin-top: 5%;
    flex-direction: row;
    width: 65%;
    max-height: 70%;
    align-items: unset;
  }
  .cookie_wrapper p{
    font-size:16px;
  }
  .cookie_button{
    font-size:14px;
  }
  .cookie_wrapper a{
    font-size:13px;
  }
  .h1_cookie{
    font-size:28px!important;
    text-align: left;
  }
  .button_cook{
    justify-content: center;
  }
}


/* goat lb */

.bg_lb_mob{
  background-color: #4b96f1;
}
 /* .swiper-slide-active{
   height: 100vh!important;
 } */

 .mar-lef{
   margin-left: 11%;
 }

 .h-52{
   height: 46px;
 }

 .stretch-y {
  position: absolute;
  display: block;
  animation-iteration-count: infinite;
  outline: 0;
  box-shadow: none;
  height: 38px;
  width: 38px;
}
 .stretch-z {
  box-sizing: border-box;
  animation-duration: 5s;
  animation-iteration-count: inherit;
  animation-name: whirlpool;
  background-color:  #f74343b9;
  border-radius: 50%;
  height: 100%;
  opacity: 1;
  width: 100%;
}
.strech-anim {
  animation-delay: .8s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-name: B0Z;
  opacity: 0;
}
.z-9{
  z-index: 9;
}
.z-1{
  z-index: 1;
}

 @keyframes whirlpool {
  
 0%, 80% {
  opacity: 0;
  transform: scale(.8);
}
20%, 60% {
  opacity: 1;
  transform: scale(1);
}
40% {
  opacity: 1;
  transform: scale(.8);
}
100% {
  opacity: 0;
}

}



.desk-feed{
  height: 70vh;
}

.dropdown-search{
  position: absolute;
  left: 0;
  top: 45px;
  height: 35px;
  width: 326px;
  padding-left: 20px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(22,24,35,.12);
  z-index: 1000;
  background: #fff;
  margin-top: 4px;
}

.list-search{
  width: 329px;
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.06);
    border-radius: 4px;
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 3%), 0 2px 4px 0 rgb(0 0 0 / 3%);
    max-height: 296px;
    /* overflow: scroll; */
    margin-top: 4px;
    -webkit-overflow-scrolling: touch;
    z-index: 11;
}
.list-input{
  width: 324px;
}

.w-feed-menu{
  width: 356px;
}
.w-prof-menu{
  width: 240px;
}
.w-feed{
  width: 100vw;
  max-width: 1150px;
}
.W-feed-vid{
  margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
}
.W-search{
  margin-right: 16px;
  margin-left: 16px;
  width: 742px;
  max-width: 742px;
}
.overlay-z-index{
  z-index: 25;
}


/* iframe */
.charm_title{
  max-width: 100%;
  overflow: hidden;
}
.w-fit{
  width: fit-content;
}
.bg_hair{
  background-color: rgb(172, 211, 205);
}
.text_hair{
color: rgb(172, 211, 205);
}
.teal{
  color: #3bb3b4;
}
.teal_border{
  border-bottom: 2px solid #3bb3b4;
}
.bg_beauty{
    background-color: rgb(251, 198, 184);
}
.text_beauty{
  color: rgb(251, 198, 184);
  }
  .numb-beauty,.numb-hair{
    border-radius: 50%;
    width: 20px;
    min-width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
  }
  .numb-hair{
    background: #d7f8f4;
    color: #73aba5;
  }
  .numb-beauty{
    background: #fff4f2;
    color: #d5b2ac;
  }
  .product img{
    max-height: 100%;
    object-fit: contain;
    background-color: #fff;
  }
.beauty-header:before {
  content: '';
  position: absolute;
  background-repeat: repeat;
  bottom: -13px;
  background: linear-gradient(
135deg
,#ebc8c2 50%,transparent 50%),linear-gradient(
225deg
,#ebc8c2 50%,transparent 50%),linear-gradient(
45deg
,#fdfdfd 50%,transparent 50%),linear-gradient(
-45deg
,#ebc8c2 50%,transparent 50%);
  background-image: linear-gradient(
135deg
,#ebc8c2 50%,transparent 50%),linear-gradient(
225deg
,#ebc8c2 50%,transparent 50%),linear-gradient(
45deg
,#fdfdfd 50%,transparent 50%),linear-gradient(
-45deg
,#ebc8c2 50%,transparent 50%);
  background-size: 10px 15px;
  background-repeat-x: initial,initial,initial,initial;
  background-repeat-y: initial,initial,initial,initial;
  background-attachment: initial,initial,initial,initial;
  background-origin: initial,initial,initial,initial;
  background-clip: initial,initial,initial,initial;
  background-color: initial;
  background-position: top left,top left,bottom left,bottom left;
  background-position-x: left,left,left,left;
  background-position-y: top,top,bottom,bottom;
  height: 14px;
  width: 100%;
  margin-top: -5px;
  left: 0;
}
.hair-header:before {
  content: '';
    position: absolute;
    background-repeat: repeat;
    bottom: -13px;
    left: 0;
  background: linear-gradient(
135deg
,#acd3cd 50%,transparent 50%),linear-gradient(
225deg
,#acd3cd 50%,transparent 50%),linear-gradient(
45deg
,#fdfdfd 50%,transparent 50%),linear-gradient(
-45deg
,#acd3cd 50%,transparent 50%);
  background-image: linear-gradient(
135deg
,#acd3cd 50%,transparent 50%),linear-gradient(
225deg
,#acd3cd 50%,transparent 50%),linear-gradient(
45deg
,#fdfdfd 50%,transparent 50%),linear-gradient(
-45deg
,#acd3cd 50%,transparent 50%);
  background-size: 10px 15px;
  background-repeat-x: initial,initial,initial,initial;
  background-repeat-y: initial,initial,initial,initial;
  background-attachment: initial,initial,initial,initial;
  background-origin: initial,initial,initial,initial;
  background-clip: initial,initial,initial,initial;
  background-color: initial;
  background-position: top left,top left,bottom left,bottom left;
  background-position-x: left,left,left,left;
  background-position-y: top,top,bottom,bottom;
  height: 14px;
  width: 100%;
  margin-top: -5px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}


@media (min-width:768px) and (max-width:1024px){
  .vdo_player{
      object-fit: contain!important;
  }
  .tab-width{
    width: 60%;
    left: 20%;
  }
  .overlay-z-index {
    z-index: 9!important;
}
.width-mob{
  width: 60%!important;
}
.w-70vr{
  width: 35vw;
}
.feed-tab-w{
  width: 75%;
}
.tab-vcard-w{
  width: 29%;
}
}
@media (max-width:1024px){
  .sm-menu{
    display: none;
  }
  .menu-sm{
    min-width: 72px;
    width: 72px;
    border-right: 1px solid rgba(22, 24, 35, 0.12);
    box-shadow: 0px 2px 8px rgb(0 0 0 / 6%);
  }
  .menu-sm-w{
    width: 72px;
  }
  .tab-plugin{
    width: 100%;
    margin: 0px;
    padding: 5px;
  }
  .tab-charm{
    width: 40px;
    height: 40px;
    min-width: 40px;
  }
  .tab-card{
    width: 32%;
  }
  .tab-card-h{
    min-height: 43vw;
  }
}

title:first-letter {
  text-transform: capitalize
}



/* ribbons */

.label_bottom_left, .label_bottom_right, .label_top_left, .label_top_right {
  width: 136px;
  height: 31px;
  line-height: 31px;
  font-size: 10px;
  color: #fff;
  font-weight: 600;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  z-index: 9;
}
.label_bottom_right {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAAAfBAMAAADO95iaAAAAJFBMVEVvP59vP59HcExvP59vP59vP59vP59vP59vP59vP59vP59vP5/2BRPXAAAADHRSTlPvvwBXzzDhqUckegxR+7QjAAAAwElEQVRIx63VsQ2DMBAF0BsBS4gBrrKdKsoCKDukzwqM4BRsgKiRsoPXC7Gdi+v79wd4+gb8ITYI8fboctPkRZzcPxNpcif2HfLUInwFixQkCjLrET6aMRKARKxIRS4LVKQinAsyYEipoi7SEN6RIj8kLNoPrUPOKhPBiAeKCMIrGSBvAyRaHCcZPFjvDF5x0o+JIAGYNUF2gwsY6hQ4CMltlAYAaZukr/JFssVQSxHtLp1I7H5esxY5OmTEbjGUD4xyUgLu+13vAAAAAElFTkSuQmCC);
  padding-left: 12px;
  padding-right: 5px;
  bottom: 20%;
  right: 0;
}
.label_top_right {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAAAfBAMAAADO95iaAAAAKlBMVEX0hQxHcEz0hQz0hQz0hQz0hQz0hQz0hQz0hQz0hQz0hQz0hQz0hQz0hQzjTLhsAAAADXRSTlO/AGTNMMPhRyTynAx6nbfTzQAAANNJREFUSMet1bENgzAUBNAfWaT/lVFCgbJBShd0kbIBWyCRJjVF1kDKHFSRMod3CbEt7PqOG+DpJPwP0R0i+rrl3C9IHqKj5Bw9kquoLZABRbQliwSkIYsERD/JMJ5ATgnpGOT8popERBeqSEJCFTNziE4r4jyJ1CLVzCJrlR42/CEhthp4RJ9+B+S7A9LgryQjLXrBBWLxE87IiI/JhoRxwz9yRKZwgD2F1HFO4IcfkCmNkiOQtEn4GPyRZRtqByNbEXggV6Qpfl4dirQFYqhR4vIDqLZyIhEOsKkAAAAASUVORK5CYII=);
  padding-left: 12px;
  padding-right: 5px;
  top: 20%;
  right: 0;
}
.label_bottom_left {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAAAfBAMAAADO95iaAAAAJ1BMVEXdAIlHcEzdAIndAIndAIndAIndAIndAIndAIndAIndAIndAIndAIkei4NcAAAADHRSTlO/AGTQMOwkSsScDHrrEEw9AAAAzElEQVRIx63WsQ2DMBQE0FMKCCLNXyHKAB4gZQaIREPrEZwJGCAT0DECM1juPFQKG+y0/3wDPJ1Aum9Ig0A+d0UeryoWcouKeFTRItEUoxMtUlVxaqRU6UWPTKWIHgm5yigEclTZKSQsRxECiTMArCQSFmDYSCS+cxEK8YClkWg64RFvWyCuAWL6A/kyH9Zl5KkvAnQs4oH8jwnEpFmjkLRtw0Yhc5qClUHSEqQqaiQXwXXXI+Ec6lGPTOVk7FokVMfrokX+zqhDi1fBDy+mB9UhV3q7AAAAAElFTkSuQmCC);
  padding-right: 12px;
  padding-left: 5px;
  bottom: 20%;
  left: 0;
}
.label_top_left {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIgAAAAfBAMAAADO95iaAAAAKlBMVEXdJihHcEzdJijdJijdJijdJijdJijdJijdJijdJijdJijdJijdJijdJihgoQteAAAADXRSTlO/AGTQMOwkSsScDLR6byjRMgAAAM9JREFUSMet1rENgzAQheGnFCEIUtwKUQbwAukyABINLSM4E7BAFqBjCXpmsFx6lxQ2set3vgE+/QLpzpAKA/k8iHm+i5kh90CMQ56ORYLJyFVYpEixNJJTGuGRMYfwiE8pvSiQM+VQIX45QxRImABgVSJ+AdpNiYQhhagQh25WI8HsokfcXAOxFRDTnMhX8WFhE/LiQ4Bdizgg/WMFYoCUwiNxt7WbCpniKlg1SNwEMYVGUghuB4/4/6LueWTMJ+NgEV8crwuLlGcUFjVeBT9Yk3GrFx5FhwAAAABJRU5ErkJggg==);
  padding-right: 12px;
  padding-left: 5px;
  top: 20%;
  left: 0;
}
.ad_logo img{
  max-height: 3rem;
  object-fit: contain;
  object-position: 0;
  background-color: #fff;
}
.absolute_cntr{
  transform: translate(-50%);
  left: 50%;
}