.parentContainer {
  padding: 64px 24px 100px;
  max-width: 1150px;
  margin: auto;
  @apply flex flex-col;
}

.heading {
  font-weight: 700;
  font-size: 57px;
  line-height: 1;
}

.container {
  @apply flex flex-row;
}

.cardsWrapper {
  @apply box-border;
  width: 80%;
}

.sideBarWrapper {
  width: 20%;
}
.tabWrapper {
  display: none;
}

.headerWrapper {
  @apply px-6;
  width: 100%;
  max-width: 1150px;
}

.featureCardWrapper {
  margin-top: 42px;
}

.iconWrapper {
  display: block;
}

.headingWrapper {
  @apply w-full flex justify-between;
}

@media screen and (max-width: 990px) {
  .heading {
    font-weight: 700;
    font-size: 33px;
    line-height: 1;
    text-align: center;
  }
  .parentContainer {
    padding: 40px 24px 50px;
  }
  .sideBarWrapper {
    display: none;
  }
  .cardsWrapper {
    width: 100%;
  }
  .tabWrapper {
    @apply w-full block sticky top-16 z-10;
  }
  .iconWrapper {
    display: none;
  }
  .headingWrapper {
    @apply justify-center;
  }
}
